# project/configs/defaults.yaml

# -------------------------
# 1. 数据相关 (Data)
# -------------------------
data:
  image_patches_size: 448      #将图片分割成大子块的大小
  patch_size: 14               #子块再次分割的大小
  batch_size: 4
  patches_h_num: 3             #大子块的行数
  patches_w_num: 9             #打字快的列数
  patches_min_num: 1           #最小子块数量
  patches_max_num: 128         #最大子块数量
  patches_num: 28              #所有子块的数量，包括缩略图   patches_h_num * patches_w_num + 1
  use_thumbnail: True
  vision_dim: 4096             # vision token经过unshuffle后的维度
  num_workers: 8

  # 数据根目录 (根据你的实际路径修改)
  train_image_dir: "G:/MSc dissertation/Change detection model/dataset/train"
  train_csv_path: "G:/MSc dissertation/Change detection model/dataset/train.csv"
  val_image_dir: "G:/MSc dissertation/Change detection model/dataset/val"
  val_csv_path: "G:/MSc dissertation/Change detection model/dataset/val.csv"
  # CSV 中的关键列名
  col_oid: "OID_"
  col_name_t1: "name_15"
  col_name_t2: "name_19"
  # 所有需要预测的任务标签列名 (按顺序)
  label_columns: [
    "A01_01_label", "A01_02_label", "A01_03_label", "A01_04_label",
    "A02_01_label", "A02_02_label", "A03_01_label", "A03_02_label",

    "B01_01_label", "B01_02_label", "B01_03_label", "B01_04_label",
    "B02_01_label", "B02_02_label", "B03_01_label", "B03_02_label",

    "C01_01_label", "C01_02_label", "C02_01_label", "C02_02_label",
    "C02_03_label", "C03_01_label", "C03_02_label",

    "D01_01_label", "D01_02_label", "D02_01_label", "D02_02_label",
    "D03_01_label", "D03_02_label", "D04_01_label", "D04_02_label"
  ]

# -------------------------
# 2. 模型结构 (Model)
# -------------------------
model:

  # Assembled Model
  assembled_model:
    max_timesteps: 5              # 最大时间步 T_max
    num_layers: 24                # T_t 堆叠层数
    start_classify: 1              # 开始挂载分类头的位置     start_classfy*2，因为只在reasoning层进行分类

  # 视觉编码器 (Vision Encoder)
  vision:
    backbone: "G:/DL model and resources/InternViT/InternViT-300M-448px-V2_5"
    num_tokens: 6912             # vision token的总数量
    feature_dim: 3200            # InternViT vision token 原始输出维度
    freeze_backbone: Ture        # 是否冻结视觉部分参数
    select_layer: -4             # [新增] 选择倒数第几层的输出 (官方建议 -4)

  # query token
  query_token:
    total_tokens: 1024
    task_nums: 4
    tokens_per_task: 256
    dim: 1024

  # 时序 Transformer (Temporal Transformer)
  transformer_block:
    query_dim: 1024                  # Query token的维度 (也是block的主干维度)
    vision_dim: 4096                 # vision token经过unshuffle后的维度
    num_head: 16                     # 多头注意力头数
    mlp_ratio: 4.0                   # FNN hidden_dim = mlp_ratio*query_dim
    dropout: 0.1
    use_qk_norm: True
    if_q_position: False
    if_k_position: False
    if_v_position: False
    norm_layer: "RMSNorm"
    act_layer: "GELU"
    fusion_type: "cross_attn"

  # 任务头 (Heads)
  # [4096] -> (融合) -> [1024] -> (聚合) -> [2048] -> (Head降维) -> [256] -> [2]
  class_head:
    task_dicts: [{road: 8},
                 {building: 8},
                 {greenery: 7},
                 {infrastructure: 8}]        # 大类及任务数量
    query_dim: 1024                          # Query token的维度 (也是 block 的输出维度)
    hidden_dim: 1024                         # query 聚合后降维的维度
    mid_hidden_dim: 256                      # 子分类头中间层（hidden_dim*2 -> mid_hidden_dim -> 2）
    drop_out: 0.1


# -------------------------
# 3. Loss损失函数权重
# -------------------------

loss:
    task_dicts: [{road: 8},
                 {building: 8},
                 {greenery: 7},
                 {infrastructure: 8}]
# -------------------------
# 4. 训练超参 (Training)
# -------------------------
train:
  seed: 42
  lr: 1e-4                        # 学习率
  weight_decay: 1e-4
  epochs: 50
  device: "cuda"                  # "cuda" or "cpu"
  save_dir: "./checkpoints"

# -------------------------
# 5. 强化学习 (RL - Step 2)
# -------------------------
rl:
  lr: 3e-4
  gamma: 0.99
  action_dim: 2                   # Gate 动作维度 (例如 0~1 连续值 或 离散)